*.class

ThemeWorksBasic/bin
ThemeWorksBasic/gen
ThemeWorksBasic/bin/*.*
ThemeWorksBasic/gen/*.*

actionbarsherlock/bin
actionbarsherlock/gen
actionbarsherlock/bin/*.*
actionbarsherlock/gen/*.*

Uicomponents/bin
Uicomponents/gen
Uicomponents/bin/*.*
Uicomponents/gen/*.*

Uicomponents

.metadata

# Package Files #
*.jar
*.war
*.ear