*.class

ThemeWorksBasic/bin
ThemeWorksBasic/gen
ThemeWorksBasic/bin/*.*
ThemeWorksBasic/gen/*.*

actionbarsherlock/bin
actionbarsherlock/gen
actionbarsherlock/bin/*.*
actionbarsherlock/gen/*.*

# Package Files #
*.jar
*.war
*.ear