*.class

ThemeWorksBasic/bin
ThemeWorksBasic/gen
ThemeWorksBasic/bin/*.*
ThemeWorksBasic/gen/*.*

actionbarsherlock/bin
actionbarsherlock/gen
actionbarsherlock/bin/*.*
actionbarsherlock/gen/*.*

Uicomponents/bin
Uicomponents/gen
Uicomponents/bin/*.*
Uicomponents/gen/*.*

freezejellybean/bin
freezejellybean/gen
freezejellybean/bin/*.*
freezejellybean/gen/*.*

libraryDump/bin
libraryDump/gen
libraryDump/bin/*.*
libraryDump/gen/*.*


.metadata

# Package Files #
*.jar
*.war
*.ear